ul{
    list-style-image:url("../exercicios/assets/itm.png");
    list-style-position:inside;
    margin:0px;
    padding:5px;
    font-size:30px;

    background-color: #f3e;
}
ol{
    list-style-type: upper-alpha;
    list-style-position:inside;
    margin:0px;
    padding:5px;
    font-size:30px;
    
    background-color: rgb(101, 166, 250);
}
li{
    border: 1px solid;
    background-color: rgb(214, 166, 6);
    margin: 8px;
    padding:2px;
    border-radius:10px


}
