*{
    margin:0px;
    padding:0px;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(17, 3, 24)
}

.container{
    max-width:1000px;
    margin:auto;
}
header{
    color:white;
    background-color:rgb(63, 144, 243);
    text-align:center;
    padding:10px;
}
.formContainer{
    max-width:230px;
    background-color:rgba(255, 255, 255, 0.797);
    padding:20px;
    float:right;

}
h2{
    font-size:16px;

}
.mb{
    margin-bottom:15px;
}

section{
    color:rgb(2, 2, 33);
}
.title{
    font-size:26px;

}
input,select{
    width:100%;
    box-sizing:border-box;
    padding:10px;
    border:none;
    margin-bottom:10px;
}